body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  overflow-x: hidden;
  background-color: #f4f4f4;
}
.container{
  width: 80%;
  margin:auto;
  overflow:hidden;
}
a{
  text-decoration: none;
}
.container{
  background-color: white;
  border: 2px solid #ddd;
  border-top: none;
  opacity: 1;
  padding: 5px 10px 5px 10px;
}
img{
 opacity: 1;
 height: 100px;
 width: auto;
}
#logo{
  text-align: center;
}
